<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/flavicons/apple-touch-icon.png?v=oLBMzj2rzY">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/flavicons/favicon-32x32.png?v=oLBMzj2rzY">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/flavicons/favicon-16x16.png?v=oLBMzj2rzY">
<link rel="manifest" href="/assets/icons/flavicons/site.webmanifest?v=oLBMzj2rzY">
<link rel="mask-icon" href="/assets/icons/flavicons/safari-pinned-tab.svg?v=oLBMzj2rzY" color="#065cd6">
<link rel="shortcut icon" href="/assets/icons/flavicons/favicon.ico?v=oLBMzj2rzY">
<meta name="apple-mobile-web-app-title" content="Mirko Ledda's website">
<meta name="application-name" content="Mirko Ledda's website">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-config" content="/assets/icons/flavicons/browserconfig.xml?v=oLBMzj2rzY">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
